<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzer</title>

    <script defer type="module" src="/javascript/main.js"></script>
    <link rel="stylesheet" href="/css/bundle.css">
</head>

<body>
    <div id="main-quiz">
        <div class="quiz">
            <p id="quiz-question">ka</p>
            <div class="quiz-options">
                <button class="quiz-option" id="quiz-option-1">ka</button>
                <button class="quiz-option" id="quiz-option-2">ka</button>
                <button class="quiz-option" id="quiz-option-3">ka</button>
                <button class="quiz-option" id="quiz-option-4">ka</button>
            </div>
        </div>

        <p class="streak-text">Streak: <span id="streak">0</span></p>
    </div>
</body>

</html>