#lesson-view {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;

    .lesson-group-name {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .lesson-group-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        max-height: 95vh;

        button.lesson {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 1px solid #fff;
            width: calc(20% - 15px);
            margin-left: 15px;

            * {
                color: #fff;
                text-align: left;
            }

            .lesson-name {
                font-size: 1.2rem;
            }

            .lesson-words {
                height: 17px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#main-lesson {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: var(--bg);

    #lesson-header {
        width: 100%;
        text-align: center;
    }

    #lesson-question {
        width: calc(100% - 40px);
        position: absolute;
        top: 20%;
        text-align: center;
        font-size: 3rem;
    }

    #lesson-small-text {
        position: absolute;
        top: calc(35% + 65px);
        font-size: 1.75rem;
        font-weight: normal;
        width: calc(100% - 40px);
        text-align: center;
        color: #777;
    }

    .lesson-opts {
        width: calc(100% - 40px);
        height: fit-content;
        position: absolute;
        bottom: 20px;
        left: 20px;

        &#lesson-memorize {
            #lesson-memorize-meaning {
                width: 100%;
                height: fit-content;
                font-size: 2rem;
                text-align: center;
            }

            #lesson-memorize-button {
                width: 50%;
                margin-left: 25%;
                margin-top: 20px;
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 15px;
                font-size: 2rem;
                background-color: #3cac4a;
                color: #fff;
                filter: brightness(1);

                transition: filter 0.25s ease;

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.1);
                }
            }
        }

        &#lesson-options {
            display: flex;
            flex-direction: column;
            width: calc(50% - 20px);
            margin-left: calc(25% - 10px);

            .lesson-option {
                width: 100%;
                padding: 10px;
                margin-top: 20px;
                border: none;
                outline: none;
                border-radius: 15px;
                font-size: 2rem;
                background-color: #2f2f31;
                color: #fff;
                filter: brightness(1);

                transition:
                    filter 0.25s ease,
                    opacity 0.5s ease;

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.1);
                }

                &.wrong {
                    cursor: default !important;
                    opacity: 0.5;
                }
            }
        }

        &#lesson-textbox {
            display: flex;
            flex-direction: column;
            width: calc(50% - 20px);
            margin-left: calc(25% - 10px);

            #lesson-textbox-input,
            #lesson-textbox-submit {
                width: 100%;
                padding: 10px;
                margin-top: 20px;
                border: none;
                outline: none;
                border-radius: 15px;
                font-size: 2rem;
                background-color: #2f2f31;
                color: #fff;
                text-align: center;
            }

            #lesson-textbox-submit {
                background-color: #3cac4a;
                filter: brightness(1);

                transition: filter 0.25s ease;

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.1);
                }
            }
        }
    }
}

.completion-1 {
    color: #ffae00 !important;
}

.completion-2 {
    color: #1eff00 !important;
}
